.list-item-title {
  margin: 12px;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.list-item-author {
  text-align: start;
  margin: 0px 0px 8px 0px;
  font-size: 1rem;
  line-height: 1rem;
  font-style: italic;
}
.list-item-content {
  text-align: justify;
  margin: 8px 2px 12px 2px;
  font-size: 1rem;
  line-height: 1.2rem;
  padding-left: 8px;
  padding-right: 8px;
}
