.comments-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: skyblue;
  overflow-y: auto;
  padding: 12px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.comments-list {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.comments-container .comments-list .list .list-item {
  padding-top: 12px;
  border-bottom: black solid 2px;
}

.comments-container .comments-list .list .list-item .list-item-author {
  margin-bottom: 8px;
}

.comments-container .comments-list .list .list-item:last-child {
  border-bottom: none;
}

.comments-next-button {
  border: 2px solid;
  border-radius: 6px;
  padding: 2px;
}
